body {
				  font-family: "Ubuntu", sans-serif;
				  background-color: #3498db;
			}
.container {
				  padding-top: 50px;
			}
article {
  margin-bottom: 30px;
}
			.img-responsive {
				  width: 150px;
				  height: 150px;
			}
			figcaption {
				  margin-top: 20px;
			}
			
			figcaption > h3 {
				  font-weight: bolder;
				  font-size: xx-large;
			}
			dt, dd {
				  margin-bottom: 5px;
			}
